USE [master]
GO

drop database [gymManagement1.1.2]
/****** Object:  Database [gymManagement1.1.2]    Script Date: 10/3/2025 7:47:48 PM ******/
CREATE DATABASE [gymManagement1.1.2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'gymManagement1.1.2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\gymManagement1.1.2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'gymManagement1.1.2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\gymManagement1.1.2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [gymManagement1.1.2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [gymManagement1.1.2]
GO
/****** Object:  Table [dbo].[Bill]    Script Date: 10/3/2025 7:47:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill](
	[id] [int] NOT NULL,
	[code] [varchar](20) NOT NULL,
	[id_HocVien] [int] NOT NULL,
	[id_NhanVien] [int] NOT NULL,
	[tongTien] [decimal](12, 3) NOT NULL,
	[thue] [decimal](12, 3) NULL,
	[trangThai] [int] NOT NULL,
	[tg_Tao] [datetime] NOT NULL,
 CONSTRAINT [PK_Bill] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Checkin]    Script Date: 10/3/2025 7:47:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Checkin](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_HocVien] [int] NOT NULL,
	[tgCheckin] [datetime] NOT NULL,
	[hopLe] [bit] NOT NULL,
	[lyDo] [int] NULL,
	[lanCheckin] [int] NOT NULL,
	[ghiChu] [nchar](10) NULL,
 CONSTRAINT [PK_Checkin] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietBill]    Script Date: 10/3/2025 7:47:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietBill](
	[id] [int] NOT NULL,
	[id_HoaDon] [int] NOT NULL,
	[loai] [int] NOT NULL,
	[id_SanPham] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[donGia] [decimal](12, 3) NOT NULL,
	[giamGia] [decimal](12, 3) NOT NULL,
	[tongTien] [decimal](12, 3) NOT NULL,
 CONSTRAINT [PK_ChiTietBill] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChucVu]    Script Date: 10/3/2025 7:47:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ChucVu] [nvarchar](1000) NOT NULL,
 CONSTRAINT [PK_ChucVu] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTHD]    Script Date: 10/3/2025 7:47:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHD](
	[MaHD] [nvarchar](10) NOT NULL,
	[MaMuaHang] [nvarchar](10) NOT NULL,
	[TenKhachHang] [nvarchar](100) NOT NULL,
	[SDT] [nvarchar](15) NOT NULL,
	[STT] [int] IDENTITY(1,1) NOT NULL,
	[TenHang] [nvarchar](100) NOT NULL,
	[DVT] [nvarchar](10) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [int] NOT NULL,
	[ThanhTien] [int] NOT NULL,
	[NgayBan] [nvarchar](10) NOT NULL,
	[NhanvVien] [nvarchar](100) NOT NULL,
	[GiamGia] [int] NOT NULL,
	[KhachDua] [int] NOT NULL,
	[HinhThuc] [nvarchar](100) NOT NULL,
	[ConLai] [int] NOT NULL,
 CONSTRAINT [PK_CTHD] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaMuaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhSachHoaDon]    Script Date: 10/3/2025 7:47:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhSachHoaDon](
	[STT] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [nvarchar](10) NOT NULL,
	[NgayTao] [nvarchar](10) NOT NULL,
	[KhachHang] [nvarchar](100) NOT NULL,
	[TongTien] [nvarchar](10) NOT NULL,
	[HinhThuc] [nvarchar](100) NOT NULL,
	[NhanVienLap] [nvarchar](100) NOT NULL,
	[ID_HocVien] [int] NOT NULL,
 CONSTRAINT [PK_DanhSachHoaDon_1] PRIMARY KEY CLUSTERED 
(
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GoiPT]    Script Date: 10/3/2025 7:47:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoiPT](
	[id] [int] NOT NULL,
	[tenGoi] [nvarchar](50) NOT NULL,
	[tgBuoi] [int] NULL,
	[trangThai] [bit] NOT NULL,
	[giaTien] [decimal](12, 3) NOT NULL,
	[thongTin] [nvarchar](1000) NULL,
	[soBuoi] [int] NOT NULL,
 CONSTRAINT [PK_GoiPT] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GoiTap]    Script Date: 10/3/2025 7:47:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoiTap](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tenGoi] [nvarchar](50) NOT NULL,
	[loaiGoi] [int] NOT NULL,
	[thoiHanNgay] [int] NULL,
	[thoiHanBuoi] [int] NULL,
	[giaTien] [decimal](12, 3) NOT NULL,
	[thongTin] [nvarchar](1000) NULL,
	[hoatDong] [bit] NOT NULL,
	[Discount] [decimal](12, 3) NULL,
 CONSTRAINT [PK_GoiTap] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GoiTapCuaHocVien]    Script Date: 10/3/2025 7:47:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoiTapCuaHocVien](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_HocVien] [int] NOT NULL,
	[id_GoiTap] [int] NOT NULL,
	[ngayBatDau] [datetime] NULL,
	[ngayKetThuc] [datetime] NULL,
	[buoiConLai] [int] NULL,
	[tienTra] [decimal](12, 3) NOT NULL,
	[giamGia] [decimal](12, 3) NULL,
	[ngayTao] [datetime] NOT NULL,
	[TrangThai] [int] NOT NULL,
 CONSTRAINT [PK_GoiTapCuaHocVien] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hang]    Script Date: 10/3/2025 7:47:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hang](
	[STT] [int] IDENTITY(1,1) NOT NULL,
	[MaNhom] [nvarchar](10) NOT NULL,
	[MaHang] [nvarchar](10) NOT NULL,
	[TenHang] [nvarchar](100) NOT NULL,
	[DVT] [nvarchar](10) NOT NULL,
	[DonGia] [int] NOT NULL,
 CONSTRAINT [PK_Hang] PRIMARY KEY CLUSTERED 
(
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 10/3/2025 7:47:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [nvarchar](10) NOT NULL,
	[TenKhachHang] [nvarchar](100) NOT NULL,
	[SDT] [nvarchar](15) NOT NULL,
	[NgayBan] [nvarchar](10) NOT NULL,
	[NhanVienLap] [nvarchar](100) NOT NULL,
	[TongTien] [int] NOT NULL,
	[GiamGia] [int] NOT NULL,
	[ThanhTien] [int] NOT NULL,
	[KhachDua] [int] NOT NULL,
	[HinhThuc] [nvarchar](100) NOT NULL,
	[ConLai] [int] NOT NULL,
 CONSTRAINT [PK_HoaDon_1] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HocVien]    Script Date: 10/3/2025 7:47:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocVien](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[ten] [nvarchar](100) NOT NULL,
	[sdt] [varchar](10) NOT NULL,
	[ngaySinh] [date] NULL,
	[gioiTinh] [bit] NULL,
	[avatarUrl] [nvarchar](50) NULL,
	[tag] [int] NULL,
	[ghiChu] [nvarchar](1000) NOT NULL,
	[thoiGianTao] [datetime] NOT NULL,
	[thoiGianSua] [datetime] NOT NULL,
	[ngayXoa] [datetime] NOT NULL,
 CONSTRAINT [PK_HocVien] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HopDong]    Script Date: 10/3/2025 7:47:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDong](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TrangThai] [int] NOT NULL,
	[LuongCB] [int] NOT NULL,
	[NVao] [smalldatetime] NOT NULL,
	[NgKTHD] [smalldatetime] NOT NULL,
	[NgKTTT] [smalldatetime] NULL,
	[MoTa] [nvarchar](3000) NULL,
	[IDNhanVien] [int] NOT NULL,
	[IDChucVu] [int] NOT NULL,
 CONSTRAINT [PK_HopDong] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HopDongPT]    Script Date: 10/3/2025 7:47:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDongPT](
	[id] [int] NOT NULL,
	[id_HocVien] [int] NOT NULL,
	[id_PT] [int] NOT NULL,
	[id_PTPackage] [int] NOT NULL,
	[tongBuoi] [int] NOT NULL,
	[conBuoi] [int] NOT NULL,
	[trangThai] [int] NOT NULL,
	[ngayTao] [datetime] NOT NULL,
 CONSTRAINT [PK_HopDongPT] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuTTien]    Script Date: 10/3/2025 7:47:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuTTien](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NgayTinh] [smalldatetime] NOT NULL,
	[Thuong] [int] NOT NULL,
	[Phat] [int] NOT NULL,
	[LyDo] [nvarchar](3000) NULL,
	[LuongTT] [int] NULL,
	[IDNhanVien] [int] NOT NULL,
 CONSTRAINT [PK_LichSuTTien] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MuaHang]    Script Date: 10/3/2025 7:47:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MuaHang](
	[MaMuaHang] [nvarchar](10) NOT NULL,
	[STT] [int] NOT NULL,
	[MaHang] [nvarchar](10) NOT NULL,
	[NhomHang] [nvarchar](100) NOT NULL,
	[TenHang] [nvarchar](100) NOT NULL,
	[DVT] [nvarchar](10) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [int] NOT NULL,
	[ThanhTien] [int] NOT NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaMuaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 10/3/2025 7:47:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](1000) NOT NULL,
	[GioiTinh] [nvarchar](100) NOT NULL,
	[NSinh] [smalldatetime] NOT NULL,
	[SDT] [varchar](100) NOT NULL,
	[CCCD] [varchar](100) NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhomHang]    Script Date: 10/3/2025 7:47:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhomHang](
	[MaNhom] [nvarchar](10) NOT NULL,
	[TenNhom] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_NhomHang] PRIMARY KEY CLUSTERED 
(
	[MaNhom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PT]    Script Date: 10/3/2025 7:47:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PT](
	[id] [int] NOT NULL,
	[Ho] [nvarchar](100) NOT NULL,
	[Ten] [nvarchar](100) NOT NULL,
	[sdt] [varchar](10) NOT NULL,
	[trangThai] [bit] NOT NULL,
	[ThoiGianXoa] [datetime] NOT NULL,
	[GioiTinh] [bit] NULL,
	[NgaySinh] [datetime] NULL,
	[AvatarUrl] [nvarchar](100) NULL,
 CONSTRAINT [PK_PT] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PT_Session]    Script Date: 10/3/2025 7:47:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PT_Session](
	[id] [int] NOT NULL,
	[id_HopDong] [int] NOT NULL,
	[tg_BatDau] [datetime] NOT NULL,
	[tg_KetThuc] [datetime] NOT NULL,
	[trangThai] [int] NOT NULL,
	[tgTao] [datetime] NOT NULL,
	[tgHuy] [datetime] NULL,
	[lyDoHuy] [nvarchar](1000) NULL,
 CONSTRAINT [PK_PT_Session] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTSpecialties]    Script Date: 10/3/2025 7:47:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTSpecialties](
	[id_PT] [int] NOT NULL,
	[id_Specialties] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specialties]    Script Date: 10/3/2025 7:47:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specialties](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[specialties] [nvarchar](50) NOT NULL,
	[infor] [nvarchar](1000) NULL,
 CONSTRAINT [PK_Specialties] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhToan]    Script Date: 10/3/2025 7:47:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhToan](
	[id] [int] NOT NULL,
	[id_HoaDon] [int] NOT NULL,
	[TienTT] [decimal](12, 3) NOT NULL,
	[pt_ThanhToan] [int] NOT NULL,
	[id_NhanVien] [int] NULL,
	[trangThai] [int] NULL,
 CONSTRAINT [PK_ThanhToan] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bill] ADD  CONSTRAINT [DF_Bill_trangThai]  DEFAULT ((1)) FOR [trangThai]
GO
ALTER TABLE [dbo].[GoiPT] ADD  CONSTRAINT [DF_GoiPT_trangThai]  DEFAULT ((1)) FOR [trangThai]
GO
ALTER TABLE [dbo].[GoiTap] ADD  CONSTRAINT [DF_GoiTap_hoatDong]  DEFAULT ((1)) FOR [hoatDong]
GO
ALTER TABLE [dbo].[HocVien] ADD  CONSTRAINT [DF_HocVien_sdt]  DEFAULT ('khong') FOR [sdt]
GO
ALTER TABLE [dbo].[HocVien] ADD  CONSTRAINT [DF_HocVien_avatarUrl]  DEFAULT ((0)) FOR [avatarUrl]
GO
ALTER TABLE [dbo].[HopDongPT] ADD  CONSTRAINT [DF_HopDongPT_trangThai]  DEFAULT ((1)) FOR [trangThai]
GO
ALTER TABLE [dbo].[PT_Session] ADD  CONSTRAINT [DF_PT_Session_trangThai]  DEFAULT ((1)) FOR [trangThai]
GO
ALTER TABLE [dbo].[Checkin]  WITH CHECK ADD  CONSTRAINT [FK_Checkin_HocVien] FOREIGN KEY([id_HocVien])
REFERENCES [dbo].[HocVien] ([id])
GO
ALTER TABLE [dbo].[Checkin] CHECK CONSTRAINT [FK_Checkin_HocVien]
GO
ALTER TABLE [dbo].[ChiTietBill]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietBill_Bill] FOREIGN KEY([id_HoaDon])
REFERENCES [dbo].[Bill] ([id])
GO
ALTER TABLE [dbo].[ChiTietBill] CHECK CONSTRAINT [FK_ChiTietBill_Bill]
GO
ALTER TABLE [dbo].[DanhSachHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_DanhSachHoaDon_HoaDon] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[DanhSachHoaDon] CHECK CONSTRAINT [FK_DanhSachHoaDon_HoaDon]
GO
ALTER TABLE [dbo].[DanhSachHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_DanhSachHoaDon_HocVien] FOREIGN KEY([STT])
REFERENCES [dbo].[HocVien] ([id])
GO
ALTER TABLE [dbo].[DanhSachHoaDon] CHECK CONSTRAINT [FK_DanhSachHoaDon_HocVien]
GO
ALTER TABLE [dbo].[GoiTapCuaHocVien]  WITH CHECK ADD  CONSTRAINT [FK_GoiTapCuaHocVien_GoiTap] FOREIGN KEY([id_GoiTap])
REFERENCES [dbo].[GoiTap] ([id])
GO
ALTER TABLE [dbo].[GoiTapCuaHocVien] CHECK CONSTRAINT [FK_GoiTapCuaHocVien_GoiTap]
GO
ALTER TABLE [dbo].[GoiTapCuaHocVien]  WITH CHECK ADD  CONSTRAINT [FK_GoiTapCuaHocVien_HocVien] FOREIGN KEY([id_HocVien])
REFERENCES [dbo].[HocVien] ([id])
GO
ALTER TABLE [dbo].[GoiTapCuaHocVien] CHECK CONSTRAINT [FK_GoiTapCuaHocVien_HocVien]
GO
ALTER TABLE [dbo].[Hang]  WITH CHECK ADD  CONSTRAINT [FK_Hang_NhomHang] FOREIGN KEY([MaNhom])
REFERENCES [dbo].[NhomHang] ([MaNhom])
GO
ALTER TABLE [dbo].[Hang] CHECK CONSTRAINT [FK_Hang_NhomHang]
GO
ALTER TABLE [dbo].[HopDongPT]  WITH CHECK ADD  CONSTRAINT [FK_HopDongPT_GoiPT] FOREIGN KEY([id_PTPackage])
REFERENCES [dbo].[GoiPT] ([id])
GO
ALTER TABLE [dbo].[HopDongPT] CHECK CONSTRAINT [FK_HopDongPT_GoiPT]
GO
ALTER TABLE [dbo].[HopDongPT]  WITH CHECK ADD  CONSTRAINT [FK_HopDongPT_HocVien] FOREIGN KEY([id_HocVien])
REFERENCES [dbo].[HocVien] ([id])
GO
ALTER TABLE [dbo].[HopDongPT] CHECK CONSTRAINT [FK_HopDongPT_HocVien]
GO
ALTER TABLE [dbo].[HopDongPT]  WITH CHECK ADD  CONSTRAINT [FK_HopDongPT_PT] FOREIGN KEY([id_PT])
REFERENCES [dbo].[PT] ([id])
GO
ALTER TABLE [dbo].[HopDongPT] CHECK CONSTRAINT [FK_HopDongPT_PT]
GO
ALTER TABLE [dbo].[MuaHang]  WITH CHECK ADD  CONSTRAINT [FK_MuaHang_Hang] FOREIGN KEY([MaHang])
REFERENCES [dbo].[Hang] ([MaHang])
GO
ALTER TABLE [dbo].[MuaHang] CHECK CONSTRAINT [FK_MuaHang_Hang]
GO
ALTER TABLE [dbo].[PT_Session]  WITH CHECK ADD  CONSTRAINT [FK_PT_Session_HopDongPT] FOREIGN KEY([id_HopDong])
REFERENCES [dbo].[HopDongPT] ([id])
GO
ALTER TABLE [dbo].[PT_Session] CHECK CONSTRAINT [FK_PT_Session_HopDongPT]
GO
ALTER TABLE [dbo].[PTSpecialties]  WITH CHECK ADD  CONSTRAINT [FK_PTSpecialties_PT] FOREIGN KEY([id_PT])
REFERENCES [dbo].[PT] ([id])
GO
ALTER TABLE [dbo].[PTSpecialties] CHECK CONSTRAINT [FK_PTSpecialties_PT]
GO
ALTER TABLE [dbo].[PTSpecialties]  WITH CHECK ADD  CONSTRAINT [FK_PTSpecialties_Specialties] FOREIGN KEY([id_Specialties])
REFERENCES [dbo].[Specialties] ([id])
GO
ALTER TABLE [dbo].[PTSpecialties] CHECK CONSTRAINT [FK_PTSpecialties_Specialties]
GO
ALTER TABLE [dbo].[ThanhToan]  WITH CHECK ADD  CONSTRAINT [FK_ThanhToan_Bill] FOREIGN KEY([id_HoaDon])
REFERENCES [dbo].[Bill] ([id])
GO
ALTER TABLE [dbo].[ThanhToan] CHECK CONSTRAINT [FK_ThanhToan_Bill]
GO
USE [master]
GO
